.header-background {
    background:#3B3B3B;
    margin: 0 auto;
  }

  .body-background {
    background: #F8F9FA;
  }

  .skills-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    color: #FFFFFF;
    text-align: center;
    font-family: copperplate;
    font-size: 64px;
  }

  h2 {
    color: #FFFFFF;
    text-align: center;
    font-family: rockwell;
    font-size: 26px;
  }

  h3 {
    color: #212529;
    text-align: center;
    font-family: copperplate;
    font-size: 24px;
  }

  h4 {
    color: #FFFFFF;
    text-align: center;
    font-family: rockwell;
    font-size: 22px;
  }

  p {
    color: #212529;
    text-align: center;
    font-family: rockwell;
  }

  ul {
    display: flex;
    flex-direction: row;
    color: #212529;
    font-family: rockwell;
    text-align: center;
    list-style-position: inside;
    justify-content: center;
    align-items: center;
  }

  ol {
    color: #212529;
    font-family: rockwell;
    text-align: center;
    list-style-position: inside;
  }

  li {
    display: flex;
    align-items: center;
    margin: 10px 20px;
  }

  li span {
    margin-right: 10px;
  }

  img {
    height: 50px;
    width: 50px;
  }

  hr {
    color: black;
  }

  a:hover {
    color: #007BFF;
  }
    
  a:visited {
    color: #6C757D;
  }